@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.module.css */
/* .custom-scrollbar {
/* custom scrollbar */
/* ::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
} 
}  */

/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px; /*dont seem to work */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7e9a500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac8b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555aa;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 9999; /* Set a high z-index value */

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.loading {
    .loader {
      /* Your loading animation styles */
      /* ... */
      z-index: 10000; /* Make sure the loader has an even higher z-index */
    }
  }
}

input.searchBar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

